# Dependencies & System Files
node_modules/
.DS_Store
Thumbs.db
*.log

# Environment variables
.env
.env.local
.env.*.local

# Vercel & IDE
.vercel
.vscode/
.idea/

# Python Cache
__pycache__/
*.pyc

# Custom Design Identity Source Files (Ignored from Git & GitHub sync)
01 - Nova Identidade/
*Nova Identidade*/
